workspace/png_Folder/*.png
workspace/png_Folder2/*.png
workspace/png_Folder3/*.png
workspace/output_Folder/*
workspace/wind_test_program.ipynb
workspace/wind_test_program_2.ipynb
workspace/generater_test_program.ipynb

workspace/TPGship_sim+wind+sail_research_sailnum+sto+e_PG.ipynb
workspace/TPGship_sim+wind+sail_research_sailnum+sto+e_PG+Liftgene.ipynb
workspace/TPGship_sim+wind+sail_research_sailnum+sto+Liftgene.ipynb
workspace/TPGship_sim+wind+sail_research_sailnum+sto+PGoutput.ipynb
workspace/ERA5/ERA5_data_kuno_ver.ipynb
workspace/ERA5/era5_testdata2016.nc
workspace/ERA5/era5_testdata2023.nc
