workspace/png_Folder/*.png
workspace/png_Folder2/*.png
workspace/png_Folder3/*.png
workspace/output_Folder/*
workspace/wind_test_program.ipynb
workspace/wind_test_program_2.ipynb
workspace/generater_test_program.ipynb

